---
Language: Cpp
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
AlignOperands: AlignAfterOperator
AllowBreakBeforeNoexceptSpecifier: Always
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBraces: Custom
ColumnLimit: 100
FixNamespaceComments: false
IndentCaseLabels: true
IndentRequiresClause: true
IndentWidth: 4
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
LineEnding: LF
NamespaceIndentation: All
PackConstructorInitializers: Never
PenaltyBreakOpenParenthesis: 45
PenaltyReturnTypeOnItsOwnLine: 140
PointerAlignment: Left
SortIncludes: Never
SortUsingDeclarations: Lexicographic
StatementAttributeLikeMacros:
  - SNN_CONSTEXPR_MAYBE
TabWidth: 4
UseTab: Never
...
