-std=c++20

-iquote
../

-isystem
/usr/local/include/

-Werror=zero-length-array

-Weverything
-Wno-c++20-compat
-Wno-c++98-compat
-Wno-c++98-compat-pedantic
-Wno-ctad-maybe-unsupported
-Wno-padded
-Wno-switch-enum
-Wno-unused-macros
-Wno-weak-vtables

# Temporary (to silence spaceship operator warning).
-Wno-zero-as-null-pointer-constant
